#Nav_signup{
    position: fixed;
    top: 0px;
    right: 0px;
    left:0px;
    background-color: var(--light);
    z-index: 5;
}
#Cont{
    padding-top:4%;
    padding-left: 5%;
    padding-bottom: 12%;
    padding-right: 5%;
}
#Foot_signup{
    position: sticky;
    bottom: 0px;
    background-color: var(--light);
    z-index: 5;
}
.card:hover{
    scale:1.12;
    transition: .9s;
}