#Nav_signup{
    position: fixed;
    top: 0px;
    right: 0px;
    left:0px;
    background-color: var(--light);
    z-index: 5;
}
#Cont_signup{
    padding-top:17%;
    padding-left: 5%;
    padding-bottom: 21%;
    padding-right: 5%;
}
#Foot_signup{
    position: sticky;
    bottom: 0px;
    background-color: var(--light);
    z-index: 5;
}